<div id="fileTemplate" style="display:none;">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">XXX</h3>
    </div>
    <div class="panel-body">
      <strong>TxID</strong>: <span class="tx_id">XXX</span><br />
      <strong>From</strong>: <span class="from">XXX</span><br />
      <strong>To</strong>: <span class="to">XXX</span><br />
      <strong>File</strong>: <span class="file">XXX</span><br />
      <strong>Response</strong>: <span class="response">XXX</span></br >
      <span class="name" style="display:none"></span>
      <span class="keyword" style="display:none"></span>
      <span class="owner" style="display:none"></span>
      <strong>Confirm</strong>: <span class="confirm">XXX</span><br />
      <button class="btn btn-primary respond" type="button">Respond</button>
    </div>
  </div>
</div>

<div id="message">
  <!-- load my files (fileTemplate) here -->
</div>

<script type="text/javascript">var uname = "{{user}}";</script>
<script src="/javascripts/message.js"></script>
